<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/notepad.ico")" />

    <title>@ViewBag.Title</title>
    
    <script src="~/Content/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Content/jqueryui/js/jquery-ui-1.10.4.custom.min.js"></script>
    <link href="~/Content/jqueryui/css/jqueryui-neon/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />

    <script src="~/Content/codemirror/lib/codemirror.js"></script>
    
    <link href="~/Content/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="~/Content/codemirror/addon/fold/foldgutter.css" rel="stylesheet" />
    
    <link href="~/Content/codemirror/addon/display/fullscreen.css" rel="stylesheet" />
    <script src="~/Content/codemirror/addon/display/fullscreen.js"></script>
    <script src="~/Content/codemirror/addon/display/placeholder.js"></script>
    <script src="~/Content/codemirror/addon/fold/brace-fold.js"></script>
    <script src="~/Content/codemirror/addon/fold/comment-fold.js"></script>
    <script src="~/Content/codemirror/addon/fold/foldcode.js"></script>
    <script src="~/Content/codemirror/addon/fold/foldgutter.js"></script>
    <script src="~/Content/codemirror/addon/fold/indent-fold.js"></script>
    <script src="~/Content/codemirror/addon/fold/markdown-fold.js"></script>
    <script src="~/Content/codemirror/addon/fold/xml-fold.js"></script>
    <script src="~/Content/codemirror/keymap/sublime.js"></script>
    
    @{
        DirectoryInfo dirScript = new DirectoryInfo(Server.MapPath(@"~\Content\codemirror\mode"));
        var scriptFiles = dirScript.GetFiles();

        foreach (var fileInfo in scriptFiles)
        {
            <script src="~/Content/codemirror/mode/@fileInfo.Name" type="text/javascript"></script>
        }
    }
    
    @{
        DirectoryInfo dirInfo = new DirectoryInfo(Server.MapPath(@"~\Content\codemirror\theme"));
        var files = dirInfo.GetFiles();

        foreach (var fileInfo in files)
        {
            <link href="~/Content/codemirror/theme/@fileInfo.Name" rel="stylesheet" />
        }
    }
    

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Segoe UI,Helvetica,Arial,sans-serif;
	        font-size: 11px;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
