@model  OnlineNotepad.EF.Model.Notepad

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@Html.TextAreaFor(m => m.Content, new { id = "txtContent" })
<div id="saveDialog" title="Save WebPad" style="display: none;">
    <table>
        <tr>
            <td>Title:</td>
            <td>
                @Html.TextBoxFor(m => m.Title)
            </td>
        </tr>
        <tr>
            <td>Extension:</td>
            <td>
                <select>
                    <option>.txt</option>
                    <option>.cs</option>
                    <option>.html</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Theme:</td>
            <td>
                <select>
                    <option>Ambiance</option>
                    <option>Eclipse</option>
                    <option>Neat</option>
                </select>
            </td>
        </tr>
    </table>
</div>

<script>
    $("document").ready(function() {
        CodeMirror.fromTextArea(document.getElementById("txtContent"), {
                mode: "text/x-csharp",
                lineNumbers: true,
                lineWrapping: true,
                foldGutter: true,
                fullScreen: true,
                theme: "ambiance",
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
                extraKeys: {
                    "Ctrl-S": function (editor)
                    {
                        // http://stackoverflow.com/questions/14860759/cant-override-ctrls-in-firefox-using-jquery-hotkeys
                        setTimeout(function ()
                        {
                            SaveDocument(editor);
                        }, 0);
                    },
                    "Ctrl-Alt-S": function(editor) {
                        setTimeout(function ()
                        {
                            SaveDocumentWithConfig(editor);
                        }, 0);
                    }
                }
            }
        );
    });

    function SaveDocumentWithConfig(editor) {
        $('#saveDialog').dialog({
            resizable: false,
            height: 250,
            modal: true,
            buttons: {
                "Save": function ()
                {
                    $(this).dialog("close");
                },
                Cancel: function ()
                {
                    $(this).dialog("close");
                }
            }
        });
    }

    function SaveDocument(editor)
    {
        var data =
        {
            alias: "@Model.NotepadID",
            content: editor.getValue()
        };

        var jsonData = JSON.stringify(data);

        $.ajax({
            url: '@Url.Action("Save", "Home")',
            type: 'Post',
            data: jsonData,
            contentType: 'application/json',
            dataType: 'json',
            success: function (result) {
                if (result.Result == "Success")
                {
                    
                }
            },
            error: function (err)
            {
                console.log(err);
            }
        });
    }
</script>